<!-- Static navbar -->
<div class="row">
    <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.htm">APM</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/project">Project</a></li>
                    <!--<li><a href="/script" target="_blank">Script</a></li>-->
                    <li><a href="/script">Script</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/manage/serverEnd">Server-End</a></li>
                            <li><a href="/manage/generatorEnd">Generator-End</a></li>
                            <!--${currentUser.role.toString()}-->
                            <#if currentUser.role.toString()=='ADMIN'>
                                <li class="divider"></li>
                                <li><a href="/user/list">Users</a></li>
                            </#if>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">${(currentUser.name)!"admin"} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a data-target="#userProfile"
                                   data-toggle="modal">Profile</a></li>
                            <li><a href="/user/logout">Logout</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
    </nav>
</div>