<!DOCTYPE html>
<html lang="en">

<#include "/module/header.htm"/>

<#include "/common/common.htm"/>
<#include "/common/datatables.htm">

<body>

<div class="container">

    <#include "/module/navigation.htm"/>
    <div class="row">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="breadcrumb">
                    <li><a href="#">Script</a> <span class="divider"></span></li>
                </ul>
            </div>
        </div>
    </div>

        <div class="row">

            <div class="well form-inline search-bar" style="margin-top:0;margin-bottom:0" >
                <table style="width:100%">
                    <tr>
                        <td>
                            <table style="width:100%">
                                <colgroup>
                                    <col width="400px"/>
                                    <col width="*"/>
                                </colgroup>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Keywords" id="searchText" value="${query!}">
                                        <button type="submit" class="btn" id="search_btn"><span class="glyphicon glyphicon-search"></span></i> <@spring.message "common.button.search"/></button>
                                    </td>
                                    <td>
                                        <#if svnUrl?has_content>
                                            <div class="input-group" rel="popover"
                                                 title="Subversion" data-placement="bottom"
                                                 data-content='<@spring.message "script.message.svn"/>'
                                                 data-html="true">
                                                <span class="input-group-addon" style="cursor:default">SVN</span><span class="form-control" style="cursor:text">${svnUrl}</span>
                                            </div>
                                        </#if>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table  style="width:100%; margin-top:5px">
                                <colgroup>
                                    <col width="600px"/>
                                    <col width="340px"/>
                                </colgroup>
                                <tr>
                                    <td>
                                        <#if !(query??)>
                                            <a class="btn btn-primary" href="#create_script_modal" data-toggle="modal">
                                                <span class="glyphicon glyphicon-file"></span>
                                                <@spring.message "script.action.createScript"/>
                                            </a>
                                            <a class="btn btn-default" href="#create_folder_modal" data-toggle="modal">
                                                <span class="glyphicon glyphicon-open-file"></span>
                                                <@spring.message "script.action.createFolder"/>
                                            </a>
                                            <a class="btn btn-default" href="#upload_file_modal" data-toggle="modal">
                                                <span class="glyphicon glyphicon-upload"></span>
                                                <@spring.message "script.action.uploadResources"/>
                                            </a>
                                        </#if>
                                    </td>
                                    <td>
                                        <a class="pointer-cursor btn btn-danger pull-right" id="delete_script_button">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            <@spring.message "script.action.delete"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <table class="table table-striped table-bordered ellipsis" id="script_list_table" style="width:100%">
                <colgroup>
                    <col width="30">
                    <col width="32">
                    <col width="230">
                    <col>
                    <col width="150">
                    <col width="80">
                    <col width="80">
                    <col width="80">
                </colgroup>
                <thead>
                <tr>
                    <th><input type="checkbox" class="checkbox" value=""></th>
                    <th class="no-click">
                        <a href="/script/list/${currentPath}/../" target="_self">
                            <img src="/img/up_folder.png"/>
                        </a>
                    </th>
                    <th><@spring.message "script.list.name"/></th>
                    <th class="no-click"><@spring.message "script.list.commit"/></th>
                    <th><@spring.message "script.list.lastDate"/></th>
                    <th><@spring.message "script.list.revision"/></th>
                    <th><@spring.message "script.list.size"/></th>
                    <th class="no-click"><@spring.message "script.list.download"/></th>
                </tr>
                </thead>
                <tbody>
                <@list list_items=files others="table_list" colspan="8"; script>
                <tr>
                    <td><#if script.fileName != ".."><input type="checkbox" class="checkbox"  value="${script.fileName}"></#if></td>
                    <td>
                        <#if script.fileType.fileCategory.isEditable()>
                            <span class="glyphicon glyphicon-file"></span>
                            <#elseif script.fileType == "dir">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <#else>
                                    <span class="glyphicon glyphicon-briefcase"></span>
                        </#if>
                    </td>
                    <td class="ellipsis">
                        <#if script.fileType.fileCategory.isEditable()>
                            <a href="/script/detail/${script.path}" target="_self" title="${script.path}">${script.fileName}</a>
                            <#elseif script.fileType == "dir">
                                <a href="/script/list/${script.path}" target="_self" title="${script.path}">${script.fileName}</a>
                                <#else>
                                    <a href="/script/download/${script.path}" target="_blank" title="${script.path}">${script.fileName}</a>
                        </#if>
                    </td>
                    <td class="ellipsis" title="${(script.description)!?html}">${(script.description)!}</td>
                    <td><#if script.lastModifiedDate??>${script.lastModifiedDate?string('yyyy-MM-dd HH:mm')}</#if></td>
                    <td>${script.revision}</td>
                    <td>
                        <#if script.fileType != "dir">
                            <#assign floatSize = (script.fileSize)?c?number/1024>${floatSize?string("0.##")}
                        </#if>
                    </td>
                    <td class="center">
                        <#if script.fileType != "dir">
                            <i class="pointer-cursor icon-download-alt script-download" spath="${script.path}"></i>
                        </#if>
                    </td>
                </tr>
                </@list>
                </tbody>
            </table>
        </div>
        <#if !(query??)>
            <#include "/script/create_script_modal.htm"/>
            <#include "/script/create_folder_modal.htm"/>
            <#include "/script/upload_file_modal.htm"/>
        </#if>
</div>


    <script>
		$(document).ready(function() {
			$("#nav_script").addClass("active");
			$("#delete_script_button").click(function() {
				var list = $("td input:checked");
				if(list.length == 0) {
					bootbox.alert("<@spring.message "script.message.delete.alert"/>", "<@spring.message "common.button.ok"/>");
					return;
				}
	      		bootbox.confirm("<@spring.message "script.message.delete.confirm"/>", "<@spring.message "common.button.cancel"/>", "<@spring.message "common.button.ok"/>", function(result) {
					if (result) {
						var scriptsStr = list.map(function() {
							return $(this).val();
						}).get().join(",");

						var ajaxObj = new AjaxObj("/script/delete/${currentPath}");
						ajaxObj.type = "POST";
						ajaxObj.params = {'filesString': scriptsStr};
						ajaxObj.success = function () {
							document.location.reload();
						};
						ajaxObj.call();
					}
				});
			});

			$("#search_btn").on('click', function() {
				searchScriptList();
			});

			enableCheckboxSelectAll("script_list_table");

			$("i.script-download").on('click', function() {
				window.location  = "/script/download/" + $(this).attr("spath");
			});

			<#if files?has_content>
				$("#script_list_table").dataTable({
					"bAutoWidth": false,
					"bFilter": false,
					"bLengthChange": false,
					"bInfo": false,
					"iDisplayLength": 10,
					"aaSorting": [],
					"aoColumns": [{"asSorting": []}, {"asSorting": []}, null, {"asSorting": []}, null, null, null, {"asSorting": []}],
					"sPaginationType": "bootstrap",
					"oLanguage": {
						"oPaginate": {
							"sPrevious": "<@spring.message "common.paging.previous"/>",
							"sNext":     "<@spring.message "common.paging.next"/>"
						}
					}
				});
				$(".no-click").off('click');
			</#if>
		});

		function searchScriptList() {
			document.location.href = "/script/search?query=" + $("#searchText").val();
		}
	</script>
</body>

</html>

