<!DOCTYPE html>
<html lang="en">

<#include "../module/header.htm"/>
<#include "/common/ngrinder_macros.htm"/>
<body>

<div class="container">
    <#include "../module/navigation.htm"/>

    <div class="row">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="breadcrumb">
                    <li>
                        <a href="/host">Host Management</a> <span class="divider"></span>
                    </li>
                    <li class="active">Add New Host</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">

                    <form class="form-horizontal" id="new_host" action="/host/new">
                        <input type="hidden" id="hostId" name="hostId" value="${(host.id)!}"/>

                        <@form_group2 name="ip" label_message_key="Host Name" lable_extra_class="col-md-2" controls_extra_class="col-md-4">
                            <@input2 name="ip" value="${(host.hostName)!}"/>
                        </@form_group2>

                        <@form_group2 name="type" label_message_key="Type" lable_extra_class="col-md-2" controls_extra_class="col-md-4">
                        <select class="form-control" id="type" name="type">
                            <option selected="true" value="GENERATOR">GENERATOR</option>
                            <option value="SERVER">APPSERVER</option>
                        </select>
                        </@form_group2>

                        <@form_group2 name="userName" label_message_key="UserName" lable_extra_class="col-md-2" controls_extra_class="col-md-4">
                                <@input2 name="userName" value="${(host.user)!}"/>
                        </@form_group2>

                        <@form_group2 name="password" label_message_key="Password" lable_extra_class="col-md-2" controls_extra_class="col-md-4">
                            <@input2 name="password" value="${(host.password)!}"/>
                        </@form_group2>

                        <input type="hidden" id="status" name="status" value="UNKNOWN"/>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <button id="btn_new" type="button" style="margin-left:10px" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>


    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#wrapper -->

<#include "../module/footer.htm"/>


<script type="text/javascript">

    $("#btn_new").click(function(){
       var hostForm=$('#new_host');
       $.ajax({
            type: "PUT",
            url: hostForm.attr('action'),
            data: hostForm.serialize(),
            success: function(data){
                 if(data.success){
                            alert("Add host successful");
                            window.location="/host/list";
                         } else{
                             alert(data.msg);
                             window.location="/host/new";
                   }
                }
        });
    });


</script>


</body>

</html>
