<!DOCTYPE html>
<html lang="en">

<#include "/module/header.htm"/>

<body>

<div class="container">
    <#include "/module/navigation.htm"/>

    <div class="row">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="breadcrumb">
                    <li><a href="#">Management</a> <span class="divider"></span></li>
                    <li><a href="/user/list">Users</a> <span class="divider"></span></li>
                    <li class="active">Edit User</li>
                </ul>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">

                    <form class="form-horizontal" action="/user/do_edit" method="post">
                        <input type="hidden" id="id" name="id" value="${(user.id)!}">

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">User Name</label>

                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="name" name="name" value="${(user.name)!}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="password" name="password"
                                       value="${(user.password)!}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="email" name="email"
                                       value="${(user.email)!}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="description" name="description"
                                       value="${(user.description)!}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="status" name="status"
                                       value="${(user.enabled)!}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">Role</label>

                            <div class="col-sm-4">
                                <select class="form-control" id="role">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="USER">User</option>
                                    <option value="GENERAL">GENERAL</option>
                                </select>

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="btn_save" class="col-sm-2 control-label"></label>

                            <div class="col-sm-4">
                                <button id="btn_save" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->


</div>
<!-- /#wrapper -->

<#include "../module/footer.htm"/>


<script type="text/javascript">

    function selectCheck(id,value)
    {

        var select = document.getElementById(id);

        var options = select.options;

        for(var i=0;i<options.length;i++)
        {

          if (options[i].value == value)
          {

           options[i].selected = true;
           break;
          }
        }
     }


    $(function(){
        selectCheck("role","${user.role}");
    });


    $(document).ready(function(){

        var projectUpdate=function(){

                    $.ajax({
                        type: "POST",
                        url: "/project/${project.id}/edit",
                        data: {"name":$("#name").val(),
                        "description":$("#desc").val(),
                        "type":$("#type option:selected").val(),
                        "status":$("#status").val()
                        },
                        dateType: 'json',
                    }).done(function(data){
                        if(data.success){
                            alert("edit successful");
                            window.location='/project/${project.di}/details';
                         } else{
                             alert("failed");
                         }
                    });
                    return false;

        };

         $("#btn_save").on("click", function (e) {
             e.preventDefault();
             projectUpdate();
         });


    });


</script>

</body>

</html>
