</br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-th fa-fw"></i> Project Details

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td><strong>ID</strong> : ${(project.id)!}</td>
                        <td>
                            <strong>Project Name</strong> : ${(project.name)!}
                        </td>
                        <td><strong>Description</strong> : ${(project.desc)!0}</td>

                    </tr>
                    <tr>
                        <td><strong>Type</strong> : ${(project.type)!0}</td>
                        <td><strong>Last CommitId</strong> : ${(project.commitId)!0}</td>
                        <td><strong>Last Commit Date</strong> : ${(project.lastCommitDate)!""}</td>

                    </tr>
                    <tr>
                        <td><strong>Commits</strong> : ${(project.commits?size)!0}</td>
                        <td><strong>APIs</strong> : ${(project.apis?size)!0}</td>
                        <td><strong>Creator</strong> : ${(project.creator)!""}</td>
                    </tr>
                    <tr>
                        <td><strong>Create Time</strong>:${(project.createTime)!""}</td>
                        <td><strong><a href="/project/${project.id}/config" target="_blank">Configuration</a></strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-list fa-fw"></i> Run List

                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a id="start_test" href="/project/do_start?id=${(project.id)!0}" target="_blank">Start New Test</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="dataTables-runs">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Start Time</th>
                        <th>status</th>
                        <th>Duration</th>
                        <th>Hps</th>
                        <th>Apdex</th>
                        <th>AvgRT</th>
                        <th>TPS</th>
                        <th>Error Rate</th>
                        <th>Success Rate</th>
                        <th>CommitId</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <#list runs as run>
                    <tr>

                        <td>
                            <a href="/test/details?runId=${(run.id)!0}" target="_blank">
                                ${(run.id)!}
                            </a>
                        </td>
                        <td>${(run.startTime)!0}</td>
                        <td>${(run.status)!0}</td>
                        <td>${(run.duration)!0}</td>
                        <td>${(run.hps)!0}</td>
                        <td>${(run.apdex)!0}</td>
                        <td>${(run.avgRT)!0}</td>
                        <td>${(run.tps)!0}</td>
                        <td>${(run.error)!0}</td>
                        <td>${(run.success)!0}</td>
                        <td>${(run.commitId)!0}</td>
                        <td>
                            <a onclick="deleteCommit(commit.id})" title="Delete Commit Record">
                                <button type="button" class="btn btn-default btn-circle"><span
                                        class="glyphicon glyphicon-trash"></span></button>
                            </a>

                        </td>
                    </tr>
                    </#list>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Scalability
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Capacity
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-donut-chart"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Stability
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
</div>


<script>
        $(document).ready(function() {
            $('#dataTables-runs').DataTable({
                    responsive: true,
                    "order":[[0,"desc"]]
            });
        });


        function deleteCommit(id){
        if (confirm("Are you sure to delete this commit record?")){
            var params={'runId': id };
            $.ajax({
                type: "POST",
                url: "/project/commitDel",
                data: params,
                dateType: 'json',
            }).done(function(data){
                if(data.success){
                    alert("delete successful");
                    location.reload();
                 } else{
                     alert("failed");
                 }
            });
            }
        }


        var startTest=function(){

                    $.ajax({
                        type: "GET",
                        url: "/project/do_start?id=${(project.id)}",

                    }).done(function(data){
                        if(data.success){
                            alert("Start successful");
                            location.reload();
                         } else{
                             alert("Start test error, please check log.");
                         }
                    });
                    return false;

        };

         $("#startTest").on("click", function (e) {
             e.preventDefault();
             startTest();
         });


</script>

<script src="/bower_components/morrisjs/morris.min.js"></script>
<script src="/js/morris-data.js"></script>

