<!DOCTYPE html>
<html lang="en">

#parse("module/header.htm")

<body>

<div class="container">
    #parse("module/navigation.htm")

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="breadcrumb">
                <li>
                    <a href="/project">Projects</a> <span class="divider"></span>
                </li>
                <li>
                    <a href="/project/details?id=${detail.projectId}">${detail.projectName}</a> <span class="divider"></span>
                </li>
                <li class="active">Run Details</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab_quota">
            <li><a href="#myTab_quota_1" data-url="/test/perfMetrics?id=${detail.runId}">Performance Metrics</a></li>
            <li><a href="#myTab_quota_2" data-url="/test/server?id=${detail.runId}">Server Metrics</a>
            </li>
            <li><a href="#myTab_quota_3" data-url="/test/jvm?id=${detail.runId}">JVM Metrics</a>
            </li>
            <li><a href="#myTab_quota_4" data-url="/test/mix?id=${detail.runId}">Mix</a>
            </li>

        </ul>
        <div class="tab-content">

            <div class="tab-pane" id="myTab_quota_1"></div>

            <div class="tab-pane" id="myTab_quota_2"></div>

            <div class="tab-pane" id="myTab_quota_3"></div>
            <div class="tab-pane" id="myTab_quota_4"></div>

        </div>



    </div>
    <!-- /#wrapper -->
</div>

#parse("module/footer.htm")


<script type="text/javascript">

            $(function () {
                initTabs ();
            })

            /**
             *   int Tab
             */
            function initTabs () {
                var _isload = {};

                //Active Tab Component
                $('#myTab_quota a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

                //Registe show Event For Tab Component
                $('#myTab_quota a').on('shown.bs.tab', function (e) {
                    //load this tab-pane
                    var data_url = $(e.target).attr('data-url');
                    var _id = $(e.target).attr('href');
                    _id = _id.substring(_id.indexOf('#')+1);

                    if( !_isload[_id] ){// only one for load
                        $('#'+_id).load(data_url);
                        _isload[_id] = true;
                    }
                });

                //Show first Tab Panel.
                $('#myTab_quota a:first').tab('show');
            }

</script>

</body>

</html>
