<!DOCTYPE html>
<html lang="en">

<#include "../module/header.htm"/>

<body>


<div class="container">
    <#include "../module/navigation.htm"/>

    <div class="navbar">
        <div class="navbar-inner">
            <ul class="breadcrumb">
                <li><a href="#">Management</a> <span class="divider"></span></li>
                <li><a href="/user/list">Users</a> <span class="divider"></span></li>
                <li class="active">New User</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">

                    <form class="form-horizontal" action="/user/do_new" method="post" id="userSave">

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">User Name</label>

                            <div class="col-sm-2">
                                <input class="form-control" type="text" id="name" name="name" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-2">

                                <input class="form-control" type="text" id="password" name="password" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repassword" class="col-sm-2 control-label">Repeat Password</label>

                            <div class="col-sm-2">

                                <input class="form-control" type="text" id="repassword" name="repassword" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="text" id="email" name="email"
                                       value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" id="description" name="description"
                                       value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">Role</label>

                            <div class="col-sm-2">
                                <select class="form-control" id="role" name="role">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="USER">USER</option>
                                    <option value="GENERAL">GENERAL</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="btn_new" class="col-sm-2 control-label"></label>

                            <div class="col-sm-2">
                                <button id="btn_new" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#wrapper -->

<#include "../module/footer.htm"/>
<script type="text/javascript">




  <!--  $(document).ready(function(){

        var projectNew=function(){

                    $.ajax({
                        type: "POST",
                        url: "/project/do_new",
                        data: {"name":$("#name").val(),
                        "desc":$("#desc").val(),
                        "type":$("#type option:selected").val()
                        },
                        dateType: "json",
                    }).done(function(data){
                        if(data.success){
                            alert("add successful");
                            window.location='/project/details?id='+data.id;
                         } else{
                             alert("failed");
                         }
                    });
                    return false;

        };

         $("#btn_new").on("click", function (e) {
             e.preventDefault();
             projectNew();
         });

    });-->

</script>

</body>

</html>
